@import 'variables';

* {
	margin: 0;
	padding: 0;
	font-family: $font-stack;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

html {
	margin: auto;
	width: 100%;
	background: $background-color;
	line-height: 130%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1, h2, h3, h4, h5, h6{
	margin: .67em;
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;

  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @media only screen and (max-width: 550px) {
  	flex-direction: column;
  }
}
.flexbox .col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#content {
	#newest_stuff {

		.col {
			min-height: 1/3*100vh;
		}

		#latest_tweet {
			background-color: #1da1f2;
			//height: 100%;
			color: $background-color;
			text-align: center;

			display: block;

			#twitter_icon {
				font-size: 5em;
				color: $background-color;
			}

			#twitter_data {


				#tweets {
					/*position: absolute;
					top: calc( #{percentage(5/6)} + 2em );
					transform: translateY(-50%);
					left:0;
					right: 75%;*/
					overflow-wrap: break-word;
  					word-wrap: break-word;
  					
  					margin: 1em;

				}

					a {
						color: $background-color;
					}

				hr {
					border: none;
					height: 1px;
					color: $background-color;
					background-color: $background-color;
					width: 80%;
					margin: 1em 10%;
				}
			}
		}

		#latest_github_event {
			background-color: #666666;
			//height: 100%;
			color: $background-color;
			text-align: center;
			display: block;

			#github_icon {
				font-size: 5em;
				color: $background-color;
			}

			#github_data {

				/*position: absolute;
				top: calc( #{percentage(5/6)} + 2em );
				transform: translateY(-50%);
				left:25%;
				right: 50%;*/

				margin: 1em;

				color: $background-color;

				overflow-wrap: break-word;
  				word-wrap: break-word;

  				overflow: hidden;

				a {
					color: $background-color;
				}

				hr {
					border: none;
					height: 2px;
					color: $background-color;
					background-color: $background-color;
					width: 80%;
					margin: 1em 10%;
				}
			}

		}

		#latest_flickr_photo {
			background-color: #ff0084;
			//height: 50vh;
			color: $background-color;
			display: block;

			#flickr_image_data {
				height: 100%;
				overflow: hidden;

				#flickr_image {
					background-size: cover;
					background-position: center top;

					height: 100%;
					-webkit-filter: contrast(75%);

				}

				#flickr_image_description {
					top: -2em;
					position: relative;

					ul {
						list-style-type: none;
						color: $background-color;
					}

					#flickr_image_title {
						float: left;
						margin-left: 1em;
						font-weight: 300;
					}

					#flickr_image_title_text {
						text-transform: uppercase;
						text-decoration: underline;
					}

					#flickr_image_date {
						float: right;
						margin-right: 1em;
						font-size: 2vh;
						text-decoration: underline;
					}
				}
			}
		}

		#latest_post {
			//height: 100%;

			a {
				color: #000;
			}

			#author {
				margin: 0.8375em;
				font-size: 0.8em;
				color: #aaa;

				#author_name {
					color: #333;
				}
			}
			#article_teaser {
				left: 0.67em;
				right: 0.67em;
				position: relative;
				font-family: $serif-fonts;

			}
		}

		.display_later {
			display: none
		}

	}

	#user_content {
		margin: $vertical_space $side_space;

		.article_teaser {
			h1 {
				margin: 0;
			}
			h3 {
				font-size: 1em;
				margin: 0 0.67em;
			}
			.article_metadata {
				right: 80%;
				position: absolute;
				color: #333;
			}
			.teaser_author_name {
				text-align: right;
				margin: 0 0.67em;
			}

			margin-bottom: 2em;
		}

		.post_teaser {
			font-family: $serif-fonts;
			font-size: 1.1em;
    		line-height: 1.4em;
    		p {
    			font-family: $serif-fonts;
    		}

		}
		a {
    			color: #000;
    	}
	}
}

.article_background_image {
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center bottom;

	height: 80vh;
	z-index: 1;

	@media only screen and (max-width: 1024px) {
		height: 60vh;
	}
	@media only screen and (max-width: 549px) {
		height: 40vh;
	}
}
.post {
	background-color: $background-color;

	position: relative;

	min-height: 50%;
	@media only screen and (min-width: 550px) {
	    margin-top: -50vh;
	    margin-left: 10%;
	    margin-right: 10%;
	}

    #title {
    	font-weight: 800;
    	text-align: center;
    	font-size: 2.6em;
    	line-height: 1em;
    	padding-top: 1em;
    }
    #date {
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    #author_name {
    	position: absolute;
    	top: 0;
    	right: 0;
    }
    #content {

    	margin: 1.5em 5em;

		@media only screen and (max-width: 549px) {
	    	margin: 1.5em 2em;
	    }
	    @media only screen and (max-width: 768px) {
	    	margin: 1.5em 3em;
	    }


    	h1, h2, h3, h4, h5, h6 {
    		margin-left: 0;
    	}

    	p {
			font-family: $serif-fonts;
    		font-size: 1.1em;
    		line-height: 1.4em;

    	}

    	font-size: 1.1em;
    }
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}