/* Font */
$font-stack: 'Open Sans', sans-serif;

$serif-fonts: 'Lora', serif;

/* Colors */
$background-color: #fafafa;
$primary-color: #1c959d;
$primary-color-hover: #0c656d;
$secondary-color: #979797;

/* spacing */
$side_space: 20%;
$vertical_space: 5%;